<style>
    body {background-color: powderblue;}
    h2   {color: blue;}
    p    {color: navy;}
    .navbar.navbar-inverse  {
          border: none;
          background-color: DARKSLATEBLUE;
          color: powderblue;
        }
    }
</style>